{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">


<!-- TODO: make more beautiful--->
<div class="head">

    <div class="logo">DEX</div>
    <div class="enter">
        {% if not auth %}
            <form action="../log_in/" method="post"> {% csrf_token %}
                <table border="1">
                    <tr>
                        <td><input name="name" type="text"></td>
                        <td rowspan="2"><input type="submit" value="Войти"></td>
                    </tr>
                    <tr>
                        <td><input name="password" type="password"></td>
                    </tr>
                </table>
            </form>
        {% else %}
            {{ name }}
            <form action="../log_out/" method="post"> {% csrf_token %}
                <input type="submit" value="выйти">
            </form>
        {% endif %}
    </div>

</div>